#root {
  max-width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

table {
  width: calc(100vw - 6rem);
  margin-top: 1rem;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

th, td {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-align: left;
}

th {
  background-color: #f0f0f0;
  font-weight: 600;
}
